@charset "UTF-8";

/*-----------------------------------------------------------------
Å@Å@reset
-----------------------------------------------------------------*/
html, body, header, footer, main, section,
article, aside, menu, nav, div,
h1, h2, h3, h4, h5, h6, p, span, a,
address, cite, code, q, em, figure, img,
small, strong, dialog, time,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
body {
    line-height:1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-print-color-adjust: exact;
}
footer, header, main, section,
article, aside, figure, nav {
    display: block;
}
nav ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
input, select {
    vertical-align: middle;
}
button,
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="submit"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
}
img {
    line-height: 1;
    max-width: 100%;
    height: auto;
}

/*-----------------------------------------------------------------
Å@Å@setting
-----------------------------------------------------------------*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "ÉqÉâÉMÉmäpÉS ProN W3", "ÉÅÉCÉäÉI", Meiryo, sans-serif;
}
a {
    color: #06f;
}
.cf:after {
    content: '';
    display: block;
    clear: both;
}